@model List<Movies.ViewModels.SessionViewModel>

<table class="table">
    <thead>
        <tr>
            <th>
                Time and Date
            </th>
            <th>
                Hall
            </th>
            <th>
                Price
            </th>

            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="@(item.TimeDate < DateTime.Now? "unav_session" : "" )">
                <td>
                    @Html.DisplayFor(modelItem => item.TimeDate)
                </td>
                <td>
                    @item.Hall
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
            
                <td>
                    <a href="@(item.TimeDate < DateTime.Now ? "" : $"/Tickets/Create/{item.Id}")">
                        <button @(item.TimeDate < DateTime.Now ? "disabled" : "")>Book a seat</button>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>