@model Movies.ViewModels.SessionViewModel

<table class="table">
    <thead>
        <tr>
            <th>
                Time and Date
            </th>
            <th>
                Hall
            </th>
            <th>
                Price
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr class="@(Model.TimeDate < DateTime.Now? "unav_session" : "" )">
                <td>
                    @Html.DisplayFor(modelItem => Model.TimeDate)
                </td>
                <td>
                    @Model.Hall
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Price)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@Model.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
                </td>
                <td>
                    <a href="@(Model.TimeDate < DateTime.Now ? "" : $"/Tickets/Create/{Model.Id}")">
                        <button @(Model.TimeDate < DateTime.Now ? "disabled" : "")>Book a seat</button>
                    </a>
                </td>
            </tr>
    </tbody>
</table>