@model Movies.ViewModels.MovieViewModel;

<div class="row">
    <div class="col-sm-6">
        <img  src="@Url.Action("ShowImage", "Movies", new { id = Model.Id })" alt="Movie Photo" class="img-fluid" />
    </div>
    <div class="col-sm-6">
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Country)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Country)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Year)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Year)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Genre)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Genre)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Description)
            </dd>
          
        </dl>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h5>Трейлер:</h5>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/RDE6Uz73A7g" frameborder="0" allowfullscreen></iframe>
    </div>
</div>

