@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card h-100">
                    <div class="row no-gutters">
                        <!-- Картинка фільму з кнопкою "Детальніше" -->
                        <div class="col-md-12">
                            <a asp-controller="Session" asp-action="Index" asp-route-MovieId="@item.Id">
                                <img src="@Url.Action("ShowImage", "Movies", new { id = item.Id })" class="card-img" alt="Movie Photo" style="max-height: 450px; object-fit: cover;">
                            </a>
                        </div>

                        <div class="col-md-12">
                            <div class="card-body d-flex flex-column justify-content-between h-100">
                                <!-- Назва фільму з кнопкою "Детальніше" -->
                                <h5 class="card-title mb-0">
                                    <a asp-controller="Session" asp-action="Index" asp-route-MovieId="@item.Id">@item.Title</a>
                                </h5>

                                <!-- Жанр та інша інформація про фільм -->
                                <p class="card-text mb-0 text-left">Genre: @item.Genre</p>
                                <p class="card-text text-left">Available sessions: [інформація про сеанси]</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Модальне вікно для кожного фільму -->
                <div class="modal fade" id="myModal_@item.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <!-- Залиште залишок коду незмінним -->
                </div>
            </div>
        }
    </div>
</div>

<!-- Add Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyJcQ1sJLYt3OgCLK6g/pT12uIwx2I3WjT" crossorigin="anonymous">

<!-- Add jQuery and Popper.js -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js" integrity="sha384-Q6ZiyIyqw+Pq6ZW/vT2TEHakT3ac9aZbz5VDbxF/u5IsFO75thGqLmknKALi05Wf" crossorigin="anonymous"></script>

<!-- Add Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyJcQ1sJLYt3OgCLK6g/pT12uIwx2I3WjT" crossorigin="anonymous"></script>
